# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.code-workspace
*.sublime-project
*.sublime-workspace

# Node
node_modules/
npm-debug.log
yarn-error.log

# Build
dist/
build/
*.min.js
*.min.css

# Misc
.env
.env.local
.cache/
temp/
.swp
*~
